@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: comforter;
    src: url(./assets/Comforter-Regular.ttf);
}

::selection{
    background-color: green;
    color: #fff;
}